body{
  background-color: #154360;
}
.container{
  background-color: #E5E7E8;
  font-family: 'Varela Round', sans-serif;
}
.jumbotron{
  font-family: 'Russo One', sans-serif;
  background-image: url("../img/headerBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
 table{
   margin: 5%;
 }

 #new-game-register{
   display: none;
   z-index: 1000;
   background-color: #3C5D6E;
   opacity: 0.9;
   height: 250px;
   top:200px;
   left: 500px;
   position: absolute;
 }

.player-0-panel,
.player-1-panel {
    width: 100%;
}
.player-score-0 {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}

.player-score-1 {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}
.player-0-rolled-1 {
	text-align: center;
}

.player-1-rolled-1 {
	text-align: center;
}

.active-0 { background-color: #B5CBCF }
.active-1 { background-color: rgba(46, 204, 113, 0.1) }
.active-0 .player-name, .active-1 .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 20px;
    position: absolute;
    color: #EB4D4D;
}
.player-current-box-0 {
    background-color: #376B86;
    color: #fff;
    width: 30%;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
  ;
}
.player-current-box-1 {
    background-color: #7CA089;
    color: #fff;
    width: 30%;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

.player-current-label {
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}
.button:hover{
background-color: #CFB5CF;
}
