body{
  background-color: #154360;
}
.container{
  background-color: #E5E7E8;
  font-family: 'Varela Round', sans-serif;
}
.jumbotron{
  font-family: 'Russo One', sans-serif;
}
td{
  align-content: center;
}
